.main {

  display: flex;
  justify-content: center;

  .contentQuest {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    width: 70vw;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  p {
    line-height: 2;
  }

  .questNext {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }

  .backText {
    text-transform: none;
    margin: 0;
    color: #01579b;
  }

  .nextText {
    text-transform: none;
    margin: 0;
  }

  .questDivInput {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .questDivInput .questInput {
    margin-top: 0;
  }
  .idChapter2 {
    justify-content: flex-start;
    padding: 20px 0;
  }

  td.md-cell p {
    font-size: 16px;
  }
  tbody tr:hover {
    background-color: #DCDCDC;
    transition: all 0.3s ease-in;
  }

  .writeBottom {
    padding-top: 30px;
  }
}