<div class="main">
    <div class="contentQuest">
        <h1>ID Verification </h1>
        <div class="questDivInput">
            <md-input-container class="questInput">
                <label>National Insurance
                    Number</label>
                <input type="text">
            </md-input-container>

            <md-input-container class="questInput">
                <label>Driving Licence Number</label>
                <input type="text">
            </md-input-container>
            <md-input-container class="questInput">
                <label>Passport Number</label>
                <input type="text">
            </md-input-container>
        </div>

        <h1 class="idChapter2">Do any of the following apply to you? </h1>

        <table md-table>

            <tbody md-body>
            <tr md-row>
                <td md-cell><p>Aged over 75</p></td>
                <td md-cell>
                    <md-checkbox aria-label="Checkbox 1">
                    </md-checkbox>
                </td>
            </tr>
            <tr md-row>
                <td md-cell><p>Recently experienced a significant life event (e.g. Bereavement,
                    Employment Concerns, Serious Illness Diagnosis, Marital
                    Difficulties, Financial Hardship)</p></td>
                <td md-cell>
                    <md-checkbox aria-label="Checkbox 1">
                    </md-checkbox>
                </td>
            </tr>
            <tr md-row>
                <td md-cell><p>Suffering from any severe and/or long term illness conditions
                    (including mental illness)</p></td>
                <td md-cell>
                    <md-checkbox aria-label="Checkbox 1">
                    </md-checkbox>
                </td>
            </tr>
            <tr md-row>
                <td md-cell><p>Suffering from any learning difficulties?</p></td>
                <td md-cell>
                    <md-checkbox aria-label="Checkbox 1">
                    </md-checkbox>
                </td>
            </tr>
            <tr md-row>
                <td md-cell><p>Difficulties with the English language</p></td>
                <td md-cell>
                    <md-checkbox aria-label="Checkbox 1">
                    </md-checkbox>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="writeBottom">
            <p>If you have ticked yes to any of the above, would you like for someone to accompany you
                during our meeting? If No, please detail why you do not feel this is necessary:</p>

            <md-input-container class="md-block">
                <label>Write here...</label>
                <textarea rows="3" md-select-on-focus=""></textarea>
            </md-input-container>
        </div>
        <div class="questNext">
            <md-button><p class="backText">
                Back</p></md-button>
            <md-button class="md-raised md-primary"><p class="nextText">
                Next</p></md-button>
        </div>

    </div>