<md-dialog flex="40" flex-xs="90" flex-sm="60" class="addQuest">
    <md-card>

        <div class="createTop">
            <p>Enter the question</p>
        </div>

        <md-card-content>

            <form name="vm.questForm">
            <div layout="column">

                <md-input-container>
                    <label>Name your question</label>
                    <input ng-model="vm.data.title" name="title" required minlength="3">
                    <div ng-messages="vm.questForm.title.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="minlength">Name min length 3.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Select a type</label>
                    <md-select ng-model="vm.data.type" name="type" required>
                        <md-option ng-value="1"><em>Radio</em></md-option>
                        <md-option ng-value="2"><em>Text</em></md-option>
                    </md-select>
                    <div ng-messages="vm.questForm.type.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <div layout="row" ng-repeat="answers in vm.data.answers" class="answer" ng-if="vm.data.type == 1 && !answers.delete">
                    <div flex="30" layout="row" layout-align="none center">
                        <md-input-container>
                            <label>Name</label>
                            <input ng-model="answers.answer_text" name="answer_text" required minlength="3">
                            <div ng-messages="vm.questForm.answer_text.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="minlength">Name min length 3.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div flex="10" >
                        <i class="material-icons delAns" ng-click="vm.deleteAnsver(answers.id, $index)">close</i>
                    </div>

                </div>
                <div class="addOpn" ng-if="vm.data.type === 1">
                    <p ng-click="vm.addAnsver()">Add answer</p></div>
            </div>
            <div layout="row" class="botBtn" layout-align="space-between" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
                <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
            </div>

        </md-card-content>

    </md-card>
</md-dialog>