.add-quest {

  md-card {
    margin: 0;
  }

  .create-top {
    background: #3f51b5;
  }

  .create-top p {
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 10px;
  }

  md-card-content {
    padding: 20px;
    overflow: auto;
  }

  .next-quest {
    margin-top: 20px;
  }

  md-input-container {
    margin: 0;
  }

  .add-opn {
    display: flex;
    padding-top: 5px;
  }

  .answer{
    padding-top: 20px;
  }

  .del-ans{
    font-size: 20px;
  }


  .add-opn p {
    color: #3f51b5;
    margin: 10px 0;
    cursor: pointer;
    font-style: italic;
  }

  .bot-btn {
    padding-top: 20px;
  }

  .check-box {
    margin-left: 10px;
  }

}