.addQuest {

  .dialog-content {
    padding: 5px 30px 30px 30px;
  }

  .add-answer-button {
    text-transform: none;
    margin: 0 0 15px 0;
    font-size: 15px;
  }

  #answer-container {
    height: 220px;
  }

  md-dialog-actions {
    padding: 0 30px 30px 30px;
    button {
      margin: 0;
    }
  }

}