<md-dialog flex="40" flex-xs="90" flex-sm="60" class="addQuest">
    <md-card >

        <div class="createTop" >
            <p>Enter the question</p>
        </div>

        <md-card-content>
            <div layout="column">
                <md-input-container>
                    <label>Identifier</label>
                    <input ng-model="vm.data.identifier">
                </md-input-container>

                <md-input-container>
                    <label>Type your question</label>
                    <input  ng-model="vm.data.title">
                </md-input-container>

                <md-input-container>
                    <label>Select a type</label>
                    <md-select ng-model="vm.data.type">
                        <md-option ng-value="1"><em>Radio</em></md-option>
                        <md-option ng-value="2"><em>Text</em></md-option>
                    </md-select>
                </md-input-container>

                <md-input-container ng-if="vm.data.type === 2" class="nextQuest">
                    <label>Next question</label>
                    <input  ng-model="vm.data.next_question">
                </md-input-container>

                <div layout="row" ng-repeat="answers in vm.data.answers" class="answer" ng-if="vm.data.type === 1">
                    <div layout="column">
                        <md-input-container>
                            <label>Name
                            </label>
                            <input ng-model="answers.answer_text">
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container>
                            <label>Next questions </label>
                            <input ng-model="answers.next_question">
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <i class="material-icons delAns"  ng-click="vm.deleteAnsver(answers.id, $index)">close</i>
                    </div>
                    <div layout="column">

                        <md-checkbox ng-model="answers.hasExtra" aria-label="Checkbox 1">
                            Has Extra
                        </md-checkbox>
                    </div>
                </div>
                <div class="addOpn" ng-if="vm.data.type === 1">
                <p  ng-click="vm.addAnsver()">Add question</p></div>
            </div>
            <div layout="row" class="botBtn" layout-align="space-between" layout-wrap>
                <md-button class="md-raised md-primary"  ng-click="vm.save()">Save</md-button>
                <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
            </div>
        </md-card-content>
    </md-card>
</md-dialog>