<div class="enterForm">
    <form name="loginForm">
        <md-content>
            <div layout="row" layout-align="center center" class="loginForm">

                <div class="md-whiteframe-8dp" flex="40" flex-xs="90" flex-sm="60">
                    <div class="mainLogo">
                        <div class="loginLogo" layout="" layout-align="center">
                            <img src="content/img/knight_hayes_logo.fw.png" alt="Logo">
                        </div>
                        <div class="divInput">
                            <md-input-container>
                                <label>Email</label>
                                <input ng-model="vm.data.email" type="email">
                            </md-input-container>

                            <md-input-container>
                                <label>Password</label>
                                <input ng-model="vm.data.password" type="password">
                            </md-input-container>
                        </div>
                        <div class="divBtn">
                            <md-button ng-click="vm.login()">
                                Log in
                            </md-button>
                        </div>
                        <div class="logBot" layout="row" layout-align="center">
                            <p ng-click="showCustomToast()">Don't have an account?</p>
                            <p ui-sref="registration">Sign Up</p>
                        </div>
                        <div layout="" layout-align="center" class="lastText">
                            <p ui-sref="forgot">Forgotten a password?</p>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </form>
</div>