<div class="enterForm">
    <form name="loginForm">
        <md-content>
            <div layout="row" layout-align="center center" class="loginForm">

                <div class="md-whiteframe-8dp" flex="40" flex-sm="100" flex-xs="100">
                    <div class="mainLogo">
                        <div class="loginLogo">
                            <img src="content/img/knight_hayes_logo.fw.png" alt="Logo" height="50">
                        </div>
                        <div class="divInput">
                            <md-input-container class="loginInput">
                                <label>Email</label>
                                <input ng-model="vm.data.email" type="email">
                            </md-input-container>

                            <md-input-container class="loginInput">
                                <label>Password</label>
                                <input ng-model="vm.data.password" type="password">
                            </md-input-container>
                        </div>
                        <div class="divBtn">
                            <md-button ng-click="vm.login()">
                                <p class="logBtnText">Log in</p>
                            </md-button>
                        </div>
                        <div class="logBot">
                            <p class="textUnderBtn">Don't have an account?</p>
                            <p ui-sref="registration" class="textLogin">Sign Up</p>
                        </div>
                        <div class="logBotSec">
                            <p md-nav-sref="#" class="textBottom">Forgotten a password?</p>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </form>
</div>