<form name="loginForm">
    <md-content>
        <div>
            <md-button ui-sref="tab">To tabs</md-button>
        </div>
        <div layout="row" layout-align="center center" style="height: 100vh">
            <div class="md-whiteframe-8dp" flex="45">
                <div>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="user.mail" type="email">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="user.password" type="password">
                    </md-input-container>
                </div>
                <div>
                    <md-button>
                        Log in
                    </md-button>
                </div>
            </div>

        </div>
    </md-content>
</form>