<div class="deleteBlock">
    <md-dialog>
        <div class="deleteWindow">
            <div class="deleteTop">
                <h1>Are you sure?</h1>
            </div>
            <div class="dltBtn">
                <md-button class="md-raised md-primary" ng-click="vm.deleteBlockYes()">Yes
                </md-button>
                <md-button class="md-raised md-primary" ng-click="vm.deleteBlockCancel()">
                    No
                </md-button>
            </div>
        </div>
    </md-dialog>
</div>