<md-dialog flex="30" class="createTemplateTitle">
    <div class="createWindow">
        <div class="createTop">
            <p>Please enter template name</p>
        </div>
        <div class="content">
            <div class="allInput">
                <form name="vm.templateForm">
                    <md-input-container>
                        <label>Name template</label>
                        <input type="text" ng-model="vm.data.title" md-autofocus
                               name="name" required maxlength="32">
                        <div ng-messages="vm.templateForm.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
            <div class="botBtn" layout="" layout-align="space-between">
                <md-button class="md-raised md-primary" ng-click="vm.createTemplate()">Create</md-button>
                <md-button class="md-raised" ng-click="vm.close()">Cancel</md-button>
            </div>
        </div>
    </div>
</md-dialog>