.addMd {

  md-input-container {
    margin: 0;
  }

  .createTop {
    background: #3f51b5;
  }

  .createTop p {
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 10px;
  }

  .contentAdd {
    padding: 30px;
  }

  .allInput {
    padding-bottom: 20px;
  }

  .createTop i {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 13px;

  }

}

.annMd {

  min-width: 320px;
  max-width: 320px;

  .annHead {
    background: #3f51b5;
  }

  .annHead p {
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 10px;
  }

  .botBtn button:first-child {
    margin-right: 10px;
  }

  .annCont {
    padding: 20px;
  }

  .annBotBtn {
    width: 100%;
    padding-top: 10px;
  }

  button {
    text-transform: capitalize;
    box-shadow: none !important;
    line-height: 0;
    min-width: 98px;
    min-height: 32px;
    margin: 0;
  }
}