<div class="addCustomer">
    <md-dialog>
        <div class="createWindow">
            <div class="createTop">
                <h1>Add a new client</h1>
                <i class="material-icons" ng-click="vm.cancel()">clear</i>
            </div>
            <div class="allInput">
                <md-input-container class="addInput">
                    <label>Client name</label>
                    <input type="text" ng-model="vm.data.name">
                </md-input-container>
                <md-input-container class="addInput">
                    <label>Client surname</label>
                    <input type="text" ng-model="vm.data.surname">
                </md-input-container>
                <md-input-container class="addInput">
                    <label>Client Classification</label>
                    <md-select ng-model="vm.data.classification">
                        <md-option value="retail">Retail</md-option>
                        <md-option value="professional">Professional</md-option>
                        <md-option value="eligible">Eligible counterparty</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="botBtn">
                <md-button class="md-raised md-primary" ng-click="vm.save()"><p class="botTextClient">Create</p>
                </md-button>
            </div>
        </div>
    </md-dialog>
</div>