<md-dialog flex="30" class="annMd">
    <div class="annonceWindow">
        <div class="annHead">
            <p> New client created</p>
        </div>
        <div class="annCont"><p>Answering the questionnaire should inform the user what pension they should be
            choosing </p>

            <div class="annBotBtn" layout="" layout-align="center">
                <md-button class="md-raised md-primary" ng-click="vm.confirm()">
                    Get started
                </md-button>
            </div>

        </div>
    </div>
</md-dialog>
