<div class="annonce">
    <md-dialog>
        <div class="annonceWindow">
            <div class="annHead">
            <h1> New client created</h1>
            </div>
            <p>Answering the questionnaire should inform the user what pension they should be choosing </p>
            <div class="annBotBtn">
                <md-button class="md-raised md-primary" ng-click="vm.addCancel()">Cancel
                </md-button>
                <md-button class="md-raised md-primary">Get started</md-button>
            </div>
        </div>
    </md-dialog>
</div>