.passing-question {
  .question-text {
    width: 98%;
  }

  button {
    text-transform: capitalize;
    border: 2px solid #3f51b5;
    color: #3f51b5;
  }

  .backButton {
    background: white;
  }
}


.firstQuest {

  .contentQuest {
    padding: 30px 0;
    width: 70%;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  .contentQuest p {
    line-height: 2;
  }

  .questNext {
    padding-top: 20px;
  }

  button {
    text-transform: capitalize;
  }

}