.enterForm {

  .logBtnText {
    color: white;
    text-transform: none;
    margin: 0;
  }

  .loginLogo img {
    height: 50px;
  }

  .logBot {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }

  .toTab {
    position: absolute;
  }

  .loginForm {
    height: 100vh;
  }

  .mainLogo {
    padding: 20px 40px;
  }

  .divInput {
    flex-direction: column;
  }

  .loginLogo {
    display: flex;
    justify-content: center;
  }

  .loginInput {
    width: 100%;
    margin: 0;
  }

  .loginInput:first-child {
    margin-top: 20px;
  }

  .logIn {
    margin: 0;
    background: #001041;
  }

  .textLogin {
    color: #001041;
    margin-left: 10px;
  }

  .divTextLogin {
    padding-left: 20px;
  }

  .textLogin:hover {
    cursor: pointer;
  }

  .logBotSec {
    display: flex;
    justify-content: center;
  }

  .logBotSec p {
    color: #001041;
    margin: 0;
    cursor: pointer;
  }

  .textUnderBtn {
    color: gray;
  }

  .divBtn button {
    width: 100%;
    background: #001041;
    margin: 0;
  }

  .divBtn .md-button:hover {
    background: #001041;
  }

}