<div class="enterForm">
    <form name="loginForm">
        <md-content>
            <div layout="row" layout-align="center center" class="loginForm">

                <div class="md-whiteframe-8dp" flex="40" flex-xs="90" flex-sm="60">
                    <div class="mainLogo">
                        <div class="loginLogo">
                            <img src="content/img/knight_hayes_logo.fw.png" alt="Logo">
                        </div>
                        <div class="divInput">
                            <md-input-container class="loginInput">
                                <label>Enter your email</label>
                                <input ng-model="vm.data.email" type="email">
                            </md-input-container>
                        </div>
                        <div class="divBtn">
                            <md-button ng-click="vm.forgot()">
                                <p class="logBtnText">Send</p>
                            </md-button>
                        </div>
                        <div class="logBot">
                            <p class="textUnderBtn">Don't have an account?</p>
                            <p ui-sref="registration" class="textLogin">Sign Up</p>
                        </div>
                        <div class="logBotSec">
                            <p ui-sref="#">Forgotten a password?</p>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </form>
</div>