.deleteCustomer {

  width: 100%;
  display: flex;
  justify-content:center;

   h1 {
    text-align: center;
  }

  md-dialog{
    min-width: 30%;
  }

  .deleteHead p{
    text-align: center;
    margin: 0;
    color: white;
    padding: 12px;
  }

  .deleteTop p{
    text-align: center;
    text-align: center;
    margin: 34px;
  }

  .deleteHead{
    background: #3f51b5;
  }

  .dltBtn button {
    text-transform: capitalize;
    box-shadow: none !important;
    line-height: 0;
    min-height: 32px;
    margin: 0;
    min-width: 98px;
  }

  .dltBtn {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 20px 30px;

  }

  .dltBtn button:last-child {
    background: white;
    border: 2px solid #3f51b5;
    margin-left: 40px;
  }
}