.deleteCustomer {
  .deleteWindow {
    padding: 10px;
  }
  .deleteTop h1 {
    text-align: center;
  }

  .dltBtn button {
    text-transform: capitalize;
  }

  .dltBtn {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .dltBtn button:first-child {
    margin-right: 10px;
  }
}