.editSurvey {

  width: 0;
  display: flex;
  justify-content: center;

  .dialog-max-height {
    max-height: 95%;
  }
  .survey-input-container {
    margin: 0;
    bottom: -14px;
  }
  .survey-button {
    top: -5px;
  }
  .section-width {
    width: 500px;
  }
  .input-width {
    width: 95%;
  }
  md-card {
    margin: 0;
  }
  .md-button.md-icon-button {
    padding: 0;
    height: auto;
  }
  .md-button {
    min-height: 0;
  }
  .add-button-position {
    position: relative;
    top: -6px;
  }
  .add-button-padding {
    padding: 12px 40px;
  }
}