.editBlock {
  width: 0;
  display: flex;
  justify-content: center;

  md-dialog {
    min-width: 380px;
  }

  md-card {
    margin: 0;
  }

  .allInput .addInput:last-child {
    display: block;
  }

  .createWindow {
    padding: 25px;
  }

  .addInput {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .createTop {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .createTop h1 {
    margin: 0;
    font-size: 25px;
  }

  .allInput {
    padding-top: 20px;
  }

  .botBtn{
    display: flex;
    justify-content: flex-end;
  }

  .md-button.md-raised:first-child {
    margin-right: 10px;
  }

  .md-button.md-raised{
    text-transform: capitalize;
  }
}