<md-dialog class="restyle section-width">{{vm.blockName}}
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline section-width">Please edit section name</span>
            </md-card-title-text>
        </md-card-title>
        <md-input-container class="input-width">
            <label>Identifier </label>
            <input ng-model="vm.blockName">

        </md-input-container>

        <md-card-content>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button ng-click="vm.save()">Save</md-button>
                <md-button ng-click="vm.cancel()">Close</md-button>
            </section>
        </md-card-content>
    </md-card>
</md-dialog>