<div class="editBlock">
    <md-dialog>
        <div class="createWindow">
            <div class="createTop">
                <h1>Please enter new section name</h1>

            </div>
            <div class="allInput">
                <md-input-container class="addInput">
                    <label>Name section</label>
                    <input ng-model="vm.data.name">

                </md-input-container>

            </div>
            <div class="botBtn">
                <md-button class="md-raised md-primary" ng-click="vm.saveBlock()"> Create</md-button>
                <md-button class="md-raised md-primary" ng-click="vm.cancel()"> Cancel</md-button>
            </div>
        </div>
    </md-dialog>
</div>