<md-dialog >
    <md-card style="margin: 0;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Delete this question?</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-warn" ng-click="cancel()">Yes</md-button>
                <md-button class="md-raised" ng-click="cancel()">No</md-button>
            </section>
        </md-card-content>
    </md-card>
</md-dialog>