<div class="menus clearfix">

    <div  ng-repeat="it in vm.items" class="questionnaire-list">

        <md-menu md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <!--<md-icon md-menu-origin="" md-svg-icon="img/icons/more_vert.svg"></md-icon>-->
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in vm.QLOption">
                    <md-button ng-click="vm.announceClick(item)"> {{item}} </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <p ng-click="vm.setActineSurvey(it.id, $index)" ui-sref="tab.survey-block">{{it.name}}</p>
        <p>{{vm.QLCurrentStatus}}</p>

    </div>

    <div ng-click="vm.showPrompt($event)"  class="questionnaire-list">
        <p class="plus-ico"><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
        <p>New Questionnaire</p>
    </div>


</div>