<md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab ng-repeat="qestTab in vm.qestTab"  label={{qestTab.name}}>
                <md-content class="md-padding">
                    <div md-whiteframe="{{height}}" ng-init="height = 3" ng-mouseenter="height = 6" ng-mouseleave="height = 3" ng-repeat="singQest in  qestTab.questions" class="singQest clearfix">
                        <div class="sm-left">{{singQest}}</div>
                        <div class="sm-right">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
</md-content>