.surveyBlock {

  .active-item {
    background: #DDDDDD;
  }

  #block-container {
    height: 50px;
  }

  .block-container {
    padding-top: 10px;
    .material-icons {
      padding: 0;
    }
  }

  .block-item {
    margin-left: 10px;
  }

  .block-item:hover {
    background: #DDDDDD;
    transition: .4s;
  }

  .md-button.md-icon-button {
    width: 10px;
  }
}