<md-content class="surveyBlock" layout="row" layout-align="start center">

    <div class="add-button">
        <md-button ng-click="vm.addBlock()">
            Add section
        </md-button>
    </div>

    <md-virtual-repeat-container id="block-container" md-orient-horizontal="" flex>
        <div ui-sortable="vm.sortableOptionsBlock" ng-model="vm.items" class="block-container" layout="row" layout-align="center center">
            <div ng-repeat="item in vm.items" ng-click="vm.setActiveBlock(item.id, $index)">
                <div class="block-item" layout="row" layout-align="center center">
                    {{item.name}}
                    <dot-edit-menu></dot-edit-menu>
                </div>
            </div>
        </div>
    </md-virtual-repeat-container>


</md-content>

<div ui-view></div>