.contract-editor {

  //surveys//
  .surveys-title {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d8;
    background-color: #f6f6f6;
  }
  .title-size {
    font-size: 16px;
  }
  .search {
    margin: 5px 10px 0 10px;
  }

  .search md-input-container {
    margin-bottom: 0;
  }
  .questionnaire-list {
    margin: 10px;
    border-bottom: 1px solid #d8d8d8;
  }
  .pointer {
    cursor: pointer;
  }
  .chevron {
    font-size: 14px;
  }
  //CKEditor//

  //Template, Survey, UserVar//
  .edit-template {
    box-sizing: border-box;
  }
  .header-cell {
    height: 59px;
    border-right: 1px solid #d8d8d8;
  }
  .active-cell {
    //background-color: #f6f6f6;
    cursor: default;
  }
  .inactive-cell {
    background-color: #e8e8e8;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
  }
  .header-title {
    font-size: 14px;
  }
  .save-menu {
    margin: 10px;
  }
  .templates{
    margin: 10px;
    border-bottom: 1px solid #d8d8d8;
  }
  .survey-block {
    margin: 10px;
  }
  .survey-block-border {
    margin: 5px 20px;
    border-bottom: 1px solid #d8d8d8;
  }
  .survey-question {
    margin: 5px 0 5px 10px;
  }
  .answer {
    margin-left: 20px;
  }
  .hidden-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .empty-block {
    margin: 5px 20px 5px 30px;
    color: #c3c3c3;
  }

  .user-var-block {
    margin: 5px 10px 5px 10px;
  }
  .user-var-create {
    margin: 10px;
  }
  .user-var {
    position: relative;
    margin: 10px;
    border-bottom: 1px solid #d8d8d8;
  }
  .user-edit {
    float: right;
  }
}