<div class="deleteCustomer">
    <md-dialog>
        <div class="deleteWindow">
            <div class="deleteHead">
                <p>Confirm</p>
            </div>
            <div class="deleteTop">
                <p>Are you sure?</p>
            </div>
            <div class="dltBtn">
                <md-button class="md-raised md-primary" ng-click="vm.deleteSurveyYes()">Yes
                </md-button>
                <md-button class="md-raised" ng-click="vm.deleteSurveyCancel()" >No</md-button>

            </div>
        </div>
    </md-dialog>
</div>