<md-dialog style="width: 400px">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Download contract menu</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="material-icons">highlight_off</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-input-container class="md-block" flex-gt-sm>
        <label>Select a survey</label>
        <md-select ng-model="vm.test">
            <md-option ng-repeat="survey in vm.surveys" value="{{survey.name}}"
            ng-click="vm.actualSurvey(survey)">
                {{survey.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm ng-if="vm.showTemplates">
        <label>Select a template</label>
        <md-select ng-model="user.template">
            <md-option ng-repeat="template in vm.templates" value="{{template.name}}"
            ng-click="vm.actualTemplate(template)">
                {{template.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-dialog-actions ng-if="vm.showOK">
        <md-button aria-label="OK" ng-click="vm.finish()">OK</md-button>
    </md-dialog-actions>

</md-dialog>