<md-dialog flex="30" class="addBlock">
    <div class="createWindow">
        <div class="viewHead">
            <p>Please enter new section name</p>
        </div>
        <div class="content">
            <div class="allInput">
                <md-input-container>
                    <label>Name section</label>
                    <input type="text" ng-model="vm.data.name" md-autofocus>
                </md-input-container>
            </div>
            <div class="botBtn" layout="" layout-align="space-between">
                <md-button class="md-raised md-primary" ng-click="vm.saveBlock()">Create</md-button>
                <md-button class="md-raised" ng-click="vm.newBlockClose()">Cancel</md-button>
            </div>
        </div>
    </div>
</md-dialog>


