<md-dialog flex="30" flex-xs="70" class="dltMain">
    <div class="dltWindow">
        <div class="viewHead">
            <p>Confirm</p>
        </div>
        <div class="dltMid">
            <p>Are you sure?</p>
        </div>
        <div class="botBtn" layout="" layout-align="space-between">
            <md-button class="md-raised md-primary" ng-click="vm.delete()">Yes
            </md-button>
            <md-button class="md-raised" ng-click="vm.cancel()">No</md-button>
        </div>
    </div>
</md-dialog>
