<md-dialog flex="30" flex-xs="70" class="dltMain">
    <div class="dltWindow">
        <div class="viewHead">
            <p>Confirm</p>
        </div>
        <div class="dltMid">
            <p>Are you sure?</p>
        </div>

        <md-dialog-actions class="botBtn" layout-align="space-between">
            <md-button class="md-raised md-primary" ng-click="vm.confirm()">
                Yes
            </md-button>
            <md-button class="md-raised" ng-click="vm.cancel()">
                No
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>
