.logoTabs {
  display: flex;
  justify-content: center;
  padding-top: 20px; }

.navP {
  margin: 0;
  text-transform: none; }

.nav {
  background-color: #001041;
  padding-right: 70px; }

.md-padding {
  padding: 0; }

md-nav-bar md-nav-ink-bar {
  background: white; }

.md-button.md-accent {
  color: white; }

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
  color: gray; }

.md-button._md-nav-button {
  padding: 12px 46px; }

.logBtnText {
  color: white;
  text-transform: none;
  margin: 0; }

.logBot {
  display: inline-flex;
  justify-content: center;
  width: 100%; }

.logBotSec {
  display: flex;
  justify-content: center; }

.toTab {
  position: absolute; }

.loginForm {
  height: 100vh; }

.mainLogo {
  padding: 20px 40px; }

.divInput {
  flex-direction: column; }

.loginLogo {
  display: flex;
  justify-content: center; }

.loginInput {
  width: 100%;
  margin-bottom: 0; }

.loginInput2 {
  width: 100%;
  margin: 0; }

.logIn {
  margin: 0;
  background-color: #001041; }

.textLogin {
  color: #001041; }

.divTextLogin {
  padding-left: 20px; }

.textLogin:hover {
  cursor: pointer; }

.textBottom {
  color: #001041;
  margin: 0 30px;
  cursor: pointer; }

.textUnderBtn {
  color: gray; }

.divBtn button {
  width: 100%;
  background-color: #001041;
  margin: 0; }

.divBtn .md-button:hover {
  background-color: #001041; }

.clearfix:after,
.clearfix:before {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.label-tab {
  text-transform: capitalize;
  color: red; }

.singQest {
  box-sizing: border-box;
  padding: 15px 40px;
  width: 100%; }

.sm-left {
  float: left;
  max-width: 90%; }

.sm-right {
  float: right; }

.sm-right i {
  color: black;
  margin-left: 20px;
  font-size: 20px; }

md-edit-sm {
  width: 50%;
  background-color: #555555; }

md-dialog {
  max-height: 95%; }

.tab-icon-dots {
  display: inline-block;
  width: 30px; }

.restyle .dialog-max-height {
  max-height: 95%; }

.restyle .survey-input-container {
  margin: 0;
  bottom: -14px; }

.restyle .survey-button {
  top: -5px; }

.restyle .section-width {
  width: 500px; }

.restyle .input-width {
  width: 95%; }

.restyle md-card {
  margin: 0; }

.restyle .md-button.md-icon-button {
  padding: 0;
  height: auto; }

.restyle .md-button {
  min-height: 0; }

.restyle .add-button-position {
  position: relative;
  top: -6px; }

.restyle .add-button-padding {
  padding: 12px 40px; }

.questionnaire-list {
  background-color: #f7f7f7;
  width: 300px;
  margin: 10px 10px;
  display: inline-block;
  text-align: right;
  height: 150px;
  float: left; }

.questionnaire-list i {
  font-size: 25px;
  text-align: right;
  color: #aaaaaa; }

.questionnaire-list p {
  text-align: center; }

.questionnaire-list p:last-child {
  color: #aaaaaa; }

.fa-plus-circle:before {
  font-size: 60px; }

md-card {
  margin: 0; }

.layout-column > .flex-90 {
  width: 95%; }

.search img {
  float: right; }

.search {
  display: flex;
  align-items: center;
  width: 95%;
  padding: 10px; }

.imgSearch {
  justify-content: flex-end;
  width: 20%; }

md-dialog {
  width: 50%; }

.createWindow {
  padding: 25px; }

.createTextClient, .createBtn button {
  margin: 0;
  text-transform: none; }

.addInput {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0; }

.createBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.createTop {
  display: flex;
  width: 100%;
  position: relative; }

.createTop h1 {
  margin: 0;
  font-size: 25px; }

.allInput {
  padding-bottom: 20px;
  padding-top: 20px; }

.createTop img {
  position: absolute;
  right: 0;
  margin-top: 7px; }

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }

.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }

.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }

.clearfix:after,
.clearfix:before {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.label-tab {
  text-transform: capitalize;
  color: red; }

.singQest {
  box-sizing: border-box;
  padding: 15px 40px;
  width: 100%; }

.sm-left {
  float: left; }

.sm-right {
  float: right; }

.sm-right i {
  color: black;
  margin-left: 20px;
  font-size: 20px; }

md-edit-sm {
  width: 50%;
  background-color: #555555; }

md-dialog {
  max-height: 95%; }
