.logoTabs {
  display: flex;
  justify-content: center; }

.navP {
  margin: 0;
  text-transform: none; }

md-nav-bar {
  background-color: #001041;
  padding-right: 70px; }

.md-padding {
  padding: 0; }

md-nav-bar md-nav-ink-bar {
  background: white; }

.md-button.md-accent {
  color: white; }

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
  color: gray; }

.md-button._md-nav-button {
  padding: 12px 46px; }

.logBtn {
  color: white;
  text-transform: none;
  margin: 0; }

.logBot {
  display: inline-flex;
  justify-content: center;
  width: 100%; }

.logBotSec, .divInput {
  display: flex;
  justify-content: center; }

.toTab {
  position: absolute; }

.loginForm {
  height: 100vh; }

.loginLogo {
  display: flex;
  justify-content: center;
  padding-top: 10px; }

.loginInput {
  width: 80%;
  margin-bottom: 0; }

.loginInput2 {
  width: 80%;
  margin: 0; }

.logIn {
  width: 80%;
  background-color: #001041; }

.textLogin {
  color: #001041; }

.divTextLogin {
  padding-left: 20px; }

.textLogin:hover {
  cursor: pointer; }

.textBottom {
  color: #001041;
  margin: 0 0 30px 0;
  cursor: pointer; }

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }

.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }

.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }

.clearfix:after,
.clearfix:before {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.label-tab {
  text-transform: capitalize;
  color: red; }

.singQest {
  margin-bottom: 2px;
  padding: 15px 40px; }

.sm-left {
  float: left; }

.sm-right {
  float: right; }

.sm-right i {
  color: black;
  margin-left: 20px;
  font-size: 20px; }
