<md-dialog style="max-height: 95%;">
    <md-card style="margin: 0;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Enter the question</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div layout="column">
                <md-input-container>
                    <label>Identifier</label>
                    <input ng-model="vm.data.identifier">
                </md-input-container>

                <md-input-container>
                    <label>Type your question</label>
                    <input  ng-model="vm.data.title">


                </md-input-container>

                <md-input-container>
                    <label>Select a type</label>
                    <md-select ng-model="vm.data.type">
                        <md-option ng-value="1"><em>Radio</em></md-option>
                        <md-option ng-value="2"><em>Text</em></md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <div layout="row" ng-if="vm.data.type === 1" ng-repeat="answers in vm.data.answers">
                    <div layout="column">
                        <md-input-container>
                            <label>Name</label>
                            <input ng-model="answers.answer_text">
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container>
                            <label>Next question</label>
                            <input ng-model="answers.next_question">
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" layout-align="center center" layout-wrap>
                    <md-button class="md-raised" ng-click="vm.save()">Save</md-button>
                    <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
                </div>
            </div>

        </md-card-content>
    </md-card>
</md-dialog>