.quest {
  overflow: hidden;
  background-color: #ffffff;


  .question-heder {
    padding: 20px
  }



  .question-container {
    min-height: 10px;
  }
  .answer-container {

  }
  .question_block {
  //border: 2px solid #DDDDDD;
  }

  .answer_block {
    //border: 1px solid #DDDDDD;
  }

  ////////////////////////

  .answer_block {
    position: relative;
  }

.answeText {
    padding: 5px;
    border: 1px solid #ececec;
    i {
      color: #001041;
      font-size: 21px;
      padding-left: 10px;
      padding-right: 5px;
    }
  }

  .couter {
    margin-top: 20px;
    padding: 10px;
    color: #bfbebe;
  }

  .main_question {
    padding: 5px;
    margin-top: 20px;
    border: 1px solid #ececec;
    background-color: #f9f9f9;
    i {
      padding-right: 5px;
      font-size: 20px;
    }
  }

  .main_question:hover {
    background: #DDDDDD;
    transition: .4s;
  }

  .child_question {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ececec;
    background-color: #f9f9f9;
    i {
      padding-right: 5px;
      font-size: 20px;
    }
  }

  .child_question:last-child {
    margin-bottom: 5px;
  }

  .child-question-container {
    //position: absolute;
  }

  .main_content {
    padding: 5px;
  }

}