<md-dialog flex="30" class="updateTemplateTitle">
    <div class="createWindow">
        <div class="createTop">
            <p>Please enter the name of the template</p>
        </div>
        <div class="content">
            <div class="allInput">
                <md-input-container>
                    <label>Name template</label>
                    <input type="text" ng-model="vm.data.title" md-autofocus>
                </md-input-container>
            </div>
            <div class="botBtn" layout="" layout-align="space-between">
                <md-button class="md-raised md-primary" ng-click="vm.updateTemplate()">Save</md-button>
                <md-button class="md-raised" ng-click="vm.close()">Cancel</md-button>
            </div>
        </div>
    </div>
</md-dialog>