.umMain {

  md-card {
    margin: 0;
  }

  .layout-column > .flex-90 {
    width: 95%;
  }

  .search {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 10px 40px;
  }

  .searchText {
    margin: 0;
    display: flex;
    align-items: flex-end;
  }

  .searchDetail {
    display: inline-flex;
  }

  .addIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  td:nth-child(3) button {
    margin-left: 25px;
  }

  .tHeadText {
    display: flex;
  }

  .md-table-pagination {
    border-bottom: 2px solid darkgray;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child {
    padding: 0;
  }
}



.createWindow {
  padding: 25px;
}

.createTextClient, .createBtn button, .editBtn button {
  margin: 0;
  text-transform: none;
}

.addInput {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.createBtn, .editBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.editBtn button:first-child {
  margin-right: 20px;
}

.createTop {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.createTop h1 {
  margin: 0;
  font-size: 25px;
}

.allInput {
  padding-bottom: 20px;
  padding-top: 20px;
}

.createTop i {
  position: absolute;
  right: 0;
}

i {
  cursor: pointer;
}

.editQuestText, .continueQuest {
  margin: 0;
  color: #01579b;
  text-transform: none;
}

.deleteCustomer {

  .createBtn button {

  }
}

.annonce {
  display: flex;
  width: 100%;
  justify-content: center;

  md-dialog {
    width: 25%;
  }
}