<div class="annonce">
    <md-dialog>
        <div class="annonceWindow">
            <div>
                <h1> New client created</h1>
                <p>Answering the questionnaire should inform the user what pension they should be choosing </p>
            </div>
            <div class="botBtn">
                <md-button class="md-raised md-primary" ng-click="vm.cancel()"><p class="botTextClient">Cancel</p>
                </md-button>
                <md-button class="md-raised md-primary"><p class="botTextClient">Get started</p></md-button>
            </div>
        </div>
    </md-dialog>
</div>