<div class="deleteCustomer">
<md-dialog>
    <div class="createWindow">
        <div class="createTop">
            <h1>Are u sure?</h1>
            <i class="material-icons" ng-click="vm.cancel()">clear</i>
        </div>

        <div class="createBtn">
            <md-button class="md-raised md-primary" ng-click="vm.delete()"><p class="createTextClient">Yes</p></md-button>
            <md-button class="md-raised md-primary" ng-click="vm.cancel()"><p class="createTextClient">No</p></md-button>
        </div>
    </div>
</md-dialog>
</div>