<div class="deleteCustomer">
    <md-dialog>
        <div class="deleteWindow">
            <div class="deleteTop">
                <h1>Are you sure?</h1>
            </div>
            <div class="dltBtn">
                <md-button class="md-raised md-primary" ng-click="vm.delete()"><p class="botTextClient">Yes</p>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="vm.cancel()"><p class="botTextClient">No</p>
                </md-button>
            </div>
        </div>
    </md-dialog>
</div>