<md-dialog>
    <div class="createWindow">
        <div class="createTop">
            <h1>Editing client</h1>
            <img src="content/img/cancel.png" alt="cancel" height="15" ng-click="cancel()">
        </div>
        <div class="allInput">
            <md-input-container class="addInput">
                <label>Client name</label>
                <input type="text">
            </md-input-container>
            <md-input-container class="addInput">
                <label>Client surname</label>
                <input type="text">
            </md-input-container>
            <md-input-container class="addInput">
                <label>Client Classification</label>
                <md-select name="type" ng-model="project.type" class="selectClass">
                    <md-option value="app">Retail</md-option>
                    <md-option value="web">2</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="createBtn">
            <md-button md-no-ink class="md-primary" >Questionnaire</md-button>
            <md-button class="md-raised md-primary"><p class="createTextClient">Update</p></md-button>
        </div>
    </div>
</md-dialog>