<div class="um-main">
    <md-content class="md-padding" flex="100" layout="column" layout-align="center center">

        <div class="search" layout="row" layout-align="center center">
            <md-input-container flex="100">
                <label layout="row">
                    <i class="material-icons">search</i>
                    <p layout="row" layout-align="none end">Search</p></label>
                <input type="text" ng-model="vm.search">
            </md-input-container>

            <div class="add-icon" layout="" layout-align="center center" ng-click="vm.createOrUpdate()">
                <i class="material-icons">person_add</i>
            </div>
        </div>

        <div class="table" ng-if="vm.customers.length > 0">
            <md-card>
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>Client Name</th>
                            <th md-column>Client Classification</th>
                            <th md-column ng-if="vm.user.role_id > 1">Financial Adviser</th>
                            <th md-column>Questionnaire Responses</th>
                            <th md-column>Contract</th>
                            <th md-column>Date Completed</th>
                            <th md-column></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row
                            ng-repeat="customers in filteredCustomers = (vm.customers | filter:vm.search)|  limitTo: vm.myLimit: (vm.myPage - 1) * vm.myLimit">
                            <td md-cell>{{customers.name + ' ' + customers.surname}}</td>
                            <td md-cell>{{customers.classification}}</td>
                            <td md-cell ng-if="customers.user_name === null && vm.user.role_id > 1">Don't have a
                                Financial Advisor
                            </td>
                            <td md-cell ng-if="customers.user_name !== null && vm.user.role_id > 1 ">
                                {{customers.user_name}}
                            </td>
                            <td md-cell>
                                <md-input-container>
                                    <label>Choose a survey</label>
                                    <md-select class="md-block-restyle" ng-model="vm.select"
                                               md-on-close="vm.clearCheck()"
                                               md-on-open="vm.checkStatus(customers.reports)"
                                               ng-click="showSurveys = true"
                                    >
                                        <md-list ng-repeat="survey in customers.available_surveys"
                                                 ng-if="showSurveys">
                                            <md-list-item class="secondary-button-padding">
                                                <p> {{survey.name}} <br> <span ng-if="survey.check === true">(Finished)</span>
                                                </p>

                                                <md-checkbox aria-label="Checkbox 1"
                                                             class="md-primary box-survey"
                                                             ng-model="vm.survModel[survey.id]"
                                                             ng-change="vm.chooseSurveys(survey.id)">
                                                </md-checkbox>
                                            </md-list-item>
                                        </md-list>
                                        <md-list ng-if="customers.available_surveys.length === 0 ">
                                            <md-list-item>Don't have a chosen surveys
                                            </md-list-item>
                                        </md-list>
                                        <md-button class="start-btn md-primary"
                                                   ng-click="vm.pass(customers , checkSelect)"
                                                   ng-if="customers.available_surveys !== undefined">
                                            Get started
                                        </md-button>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td md-cell ng-if="customers.reports.length">
                                <i class="material-icons" ng-click="vm.downloadPDF(customers)">file_download</i>
                            </td>
                            <td md-cell ng-if="!customers.reports.length"><i
                                    class="material-icons none-icon">do_not_disturb_alt</i></td>
                            <td md-cell>
                                {{customers.created_at }}
                            </td>
                            <td md-cell>
                                <i class="material-icons"
                                   ng-click="vm.createOrUpdate(customers.id, customers )">mode_edit</i>
                                <i class="material-icons"
                                   ng-click="vm.deleteCustomer(customers.id, customers)">highlight_off</i>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="vm.myLimit" md-limit-options="[10, 25, 50, 100]" md-page="vm.myPage"
                                     md-total="{{filteredCustomers.length}}" md-page-select>
                </md-table-pagination>
            </md-card>
        </div>
    </md-content>
</div>

